numpy
pandas
matplotlib
geopandas
descartes
shifterator
wordcloud
gensim
nltk
networkx
scikit-learn
scipy
statsmodels
bioinfokit
seaborn
regex
requests
geopy
selenium
lxml
python-louvain
community
Pillow 
tensorflow
keras
cssselect
beautifulsoup4
spacy
textacy
eli5
tf-keras
bertopic